<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ titulo }}</title>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel='stylesheet' href='css/font-awesome.css'>
	
	<!-- <link rel="stylesheet" href="css/jquery-ui.css"> -->

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->
    <script src="js/vendor/jquery-2.1.4.min.js"></script>


</head>
<body>
{% block content %}
{% endblock %}

</body>
</html>