
{% extends "base.twig" %}

{% block content %}
<script src="js/main.js"></script>
    
    <div class="contenedor-centrado">
        <header>
            <div class="cabecera">
                <div class="logo">
                    <a href="./"><img alt="logo" src="images/logo.png"></a>
                </div>
                <div class="menu-cabecera">
                    <a href="contacto">Contacto</a>
                </div>
            </div>
        </header>
    </div>
    <div class="contenedor" style="margin-top: 125x;">
        <div class="contenedor-centrado" style="margin-top: 150px;">
            <a class="cerrar-sesion" href="./salir">CERRAR SESIÓN</a>

<input type="file" name="fileToUpload" id="fileToUpload">
<input class="button-archivos" type="submit" value="Subir archivo" id="upload" onclick="upload_file();"/>

<input type="text" name="nameFolder" id="nameFolder">
<input class="button-archivos" type="submit" value="Crear carpeta" id="create" onclick="create_folder();"/>


	<table class="tabla-archivos">
		<thead>
			<tr>
				<th class="cabecera-tabla">Nombre</th>
				<th class="cabecera-tabla">Tipo</th>
				<th colspan="2" class="cabecera-tabla">Modificado</th>
				
			</tr>
		</thead>
		<tbody id="ficheros">
			
		</tbody>
	</table>
</div>
    <div class="contenedor gris" style="margin-top: 150px;">
        <div class="contenedor-centrado">
            <hr style="width: 100%; float: left;">
            <div class="col-30">
                <div class="padd">
                    <h2 class="text-footer">Acerca de nosotros</h2>
                    <h2 class="text-footer2">Nuestro equipo</h2>
                    <h2 class="text-footer2">Marcas</h2>
                    <h2 class="text-footer2">Empleos</h2>
                </div>
            </div>
            <div class="col-30">
                <div class="padd">
                    <h2 class="text-footer">Asistencia</h2>
                    <h2 class="text-footer2">Copyright</h2>
                    <h2 class="text-footer2">Donde estamos</h2>
                    <h2 class="text-footer2">Centro de ayuda</h2>
                </div>
            </div>
            <div class="col-30">
                <div class="padd">
                    <h2 class="text-footer">Comunidad</h2>
                    <h2 class="text-footer2">Twitter</h2>
                    <h2 class="text-footer2">Facebook</h2>
                    <h2 class="text-footer2">Foro</h2>
                </div>
            </div>
        </div>
    </div>
<div id="dialogo" class="ventana" title="Crear Carpeta">
     
    <p>Carpeta creada</p>
 
</div>
<div id="dialogo2" class="ventana" title="Crear Archivo">
     
    <p>Archivo creado</p>
 
</div>
<div id="dialogo3" class="ventana" title="Eliminar">
     
    <p>Elemento eliminado</p>
 
</div>
{% endblock %}
